* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.dropicons {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    height: 75px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
    margin-right: 10px;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #000000;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px; /* Reduce margin */
}

.nav-items a img {
    width: 20px; /* Reduce icon size */
    margin-right: 5px; /* Add margin between icon and text */
}

.navbar {
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.1s ease-in-out; /* Add transition effect */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
}

.dropdown-menu ul li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.dropdown-menu ul li a:hover {
    background-color: #f0f0f0;
}

.dropdown-menu ul li img {
    width: 20px; /* Adjust the width of the icon */
    margin-right: 10px;
}

.links-container {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link-item {
    margin: 0 15px;
}

.link {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
