/* Global styles */
body, html {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
  font-variation-settings: "width" 100;
}

/* Specific class for different weights and styles */
.noto-sans-light {
  font-weight: 200;
}

.noto-sans-regular {
  font-weight: 400;
}

.noto-sans-bold {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
